<section class="uk-section">
    <div class="uk-container">
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
                <thead>
                <tr>
                    <th class="uk-width-1-4@m uk-width-1-2">Titulo</th>
                    <th class="uk-table-expand uk-visible@m">Descripción</th>
                    <th class="uk-width-small">Estado</th>
                    <th class="uk-width-small uk-text-center">Seguida</th>
                </tr>
                </thead>
                <tbody>
                {{#each tareas}}
                <tr>
                    <td>{{ titulo }}</td>
                    <td class="uk-visible@m">{{ descripcion }}</td>
                    <td>
                        {{#isAsignada estado}}
                            <p class="uk-text-uppercase uk-text-primary">Asignada</p>
                        {{/isAsignada}}

                        {{#isInProgress estado}}
                            <p class="uk-text-uppercase uk-text-warning">En progreso</p>
                        {{/isInProgress}}

                        {{#isFinished estado}}
                            <p class="uk-text-uppercase uk-text-success">Finalizada</p>
                        {{/isFinished}}
                    </td>
                    <script>
                        let urlBase = {};
                        let originalClass = {};
                    </script>
                    <td>
                        {{#isInList id ../tareasSeguidas }}
                            <div id="container-{{id}}" style="margin: auto; width: fit-content">
                                <button style="padding: 0 8px;"  id="seguir-{{id}}" data-uk-icon="bookmark" class="uk-button uk-button-default uk-button-primary" type="button">
                                </button>
                            </div>
                            <script>
                                urlBase["{{id}}"] = "no-favorita"
                            </script>
                        {{else}}
                            <div id="container-{{id}}" style="margin: auto; width: fit-content">
                                <button style="padding: 0 8px;"  id="seguir-{{id}}" data-uk-icon="bookmark" class="uk-button uk-button-default" type="button">
                                </button>
                            </div>
                            <script>
                                urlBase["{{id}}"] = "favorita"
                            </script>

                        {{/isInList}}
                        <script>
                            $("#container-{{id}}").click(function() {

                                if ($("#seguir-{{id}}").hasClass("clicked-once"))
                                    return false;

                                // Spinner en el boton y quitar el marcador
                                ($("#seguir-{{id}}").removeAttr("data-uk-icon"));
                                ($("#seguir-{{id}}").attr("uk-spinner", "ratio: 0.7"));

                                $("#seguir-{{id}}").addClass("clicked-once");
                                $.get( "/" + urlBase["{{id}}"] + "/{{ id }}", function( data ) {
                                    /* Para no perder la página en la que estamos guardamos el param page */
                                    var numberPage = "{{../valor}}";
                                    var urlUpdate = '/asignadas';
                                    urlUpdate += "?pg="+numberPage;

                                    $("#container-{{id}}").load(urlUpdate + " #seguir-{{id}}");
                                    console.log(data)
                                    // Si ha habido un fallo al contactar con la BD y el controlador devolvió false, avisar:
                                    if (data === false){
                                        // Notificar
                                        UIkit.notification({message: '<span uk-icon=\'icon: info\'></span> Ha habido un error procesando su petición', status: "danger", pos: 'top-right'});

                                        // Quitar spinner y poner el marcador
                                        $("#seguir-{{id}}").removeAttr("uk-spinner");
                                        $("#seguir-{{id}}").removeClass("uk-spinner");
                                        $("#seguir-{{id}}").attr("data-uk-icon", "bookmark");

                                        // Volver a permitir que reaccione ante clicks
                                        $("#seguir-{{id}}").removeClass("clicked-once");
                                    }
                                    else {
                                        // Cambiar el comportamiento del boton para que sea consistente con la vista
                                        if (urlBase["{{id}}"] === "favorita") {
                                            urlBase["{{id}}"] = "no-favorita";
                                        // Si se pudo contactar con BD, notificar la operacion
                                        UIkit.notification({
                                            message: '<span uk-icon=\'icon: plus\'></span> Incidencia añadida a seguimiento',
                                            status: "primary",
                                            pos: 'top-right'
                                        });

                                        }
                                        else {
                                            urlBase["{{id}}"] = "favorita";
                                            // Si se pudo contactar con BD, notificar la operacion
                                            UIkit.notification({message: '<span uk-icon=\'icon: close\'></span> Incidencia eliminada de seguimiento', status: "primary", pos: 'top-right'})
                                        }

                                        // Si todo salio bien no cambiar el estilo de nada, ya se reemplazara el boton por el nuevo
                                    }

                                }).fail(function () { // Si no se pudo hacer la peticion HTTP, avisar:
                                    UIkit.notification({message: '<span uk-icon=\'icon: info\'></span> Ha habido un error procesando su petición', status: "danger", pos: 'top-right'});

                                    // Quitar spinner y poner el marcador
                                    $("#seguir-{{id}}").removeAttr("uk-spinner");
                                    $("#seguir-{{id}}").removeClass("uk-spinner");
                                    $("#seguir-{{id}}").attr("data-uk-icon", "bookmark");
                                    // Volver a permitir que reaccione ante clicks
                                    $("#seguir-{{id}}").removeClass("clicked-once");})
                            })
                        </script>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>

        <!-- Pagination -->
        <ul class="uk-pagination uk-flex-center" uk-margin>
            {{#ifGreaterThanOne valor}}
                <li>
                    <a href="/asignadas?pg={{ restar valor 1 }}">{{ restar valor 1 }}</a>
                </li>
            {{/ifGreaterThanOne}}
            <li class="uk-active">
                <a href="/asignadas?pg={{ valor }}">{{ valor }}</a>
            </li>
            <li>
                <a href="/asignadas?pg={{ sumar valor 1 }}">{{ sumar valor 1 }}</a>
            </li>

        </ul>

    </div>
</section>
