<section class="uk-section">
    <div class="uk-container">
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
                <thead>
                <tr>
                    <th class="uk-table-expand">Titulo</th>
                    <th class="uk-width-expand">Descripción</th>
                    <th class="uk-width-small">Estado</th>
                    <th class="uk-width-small">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {{#each tareas}}
                <tr>
                    <td >{{ titulo }}</td>
                    <td >{{ descripcion }}</td>
                    <td >{{ estado }}</td>
                    <td>
                        <a class="uk-link" href="/anuncio/{{_id}}/modificar">
                            <span  uk-icon="pencil"></span>
                            Modificar
                        </a> <br>
                        <a class="uk-link" href="/anuncio/{{_id}}/eliminar">
                            <span  uk-icon="trash"></span>
                            Eliminar
                        </a>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <button id="toggle" class="uk-button uk-button-default" type="button" uk-toggle="target: #toggle; mode:hover; cls: uk-button-primary;" >
            <span id="bookmark" data-uk-icon="bookmark"></span>
        </button>

        <!-- Pagination -->
        <ul class="uk-pagination uk-flex-center" uk-margin>
            {{#ifGreaterThan valor 1}}
                <li>
                    <a href="/creadas?pg={{ restar valor 1 }}">{{ restar valor 1 }}</a>
                </li>
            {{/ifGreaterThan}}
            <li class="uk-active">
                <a href="/creadas?pg={{ valor }}">{{ valor }}</a>
            </li>
            {{#ifEqualThan valor pgUltima}}

            {{else}}
                <li>
                    <a href="/creadas?pg={{ sumar valor 1 }}">{{ sumar valor 1 }}</a>
                </li>
            {{/ifEqualThan}}
        </ul>

    </div>
</section>
