<section class="uk-section custom-wrapper">
    <div class="uk-container">
        <div class="uk-overflow-auto">
            {{#ifEqualThan nTareas 0}}
                <h2 class="uk-margin uk-text-center">Parece que no tienes tareas creadas, ¿buscas alguna tarea?</h2>
                <div class="uk-margin uk-text-center">
                    <form action="/tareas">
                        <div class="uk-inline uk-width-1-2">
                            <span class="uk-form-icon" uk-icon="icon: search"></span>
                            <input class="uk-input" type="text" name="criterio"
                                   placeholder="Buscar tarea...">
                        </div>
                        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid uk-flex-center">
                            <label><input class="uk-radio" type="radio" name="estado"
                                          value="todo" checked> Todo</label>
                            <label><input class="uk-radio" type="radio" name="estado"
                                          value="asignado"> Asignado</label>
                            <label><input class="uk-radio" type="radio" name="estado"
                                          value="enprogreso"> En progreso</label>
                            <label><input class="uk-radio" type="radio" name="estado"
                                          value="finalizado"> Finalizado</label>
                        </div>
                    </form>
                </div>
                <div class="uk-margin-large uk-text-center">
                    <h4 class="uk-margin uk-padding-small uk-padding-remove-left">O tal vez quieras
                        <a href="/crear">crear una tarea</a>
                    </h4>
                </div>
            {{else}}
            <h2 class="uk-margin uk-text-meta uk-text-large">Tienes {{nTareas}} tareas creadas</h2>
            <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
                <thead>
                <tr>
                    <th class="uk-width-1-4@m uk-width-1-2">Titulo</th>
                    <th class="uk-table-expand uk-visible@m">Descripción</th>
                    <th class="uk-width-small uk-visible@m">Fecha límite</th>
                    <th class="uk-width-small">Estado</th>
                    <th class="uk-width-small"></th>
                </tr>
                </thead>
                <tbody>
                {{#each tareas}}
                <tr class="task-row">
                    <td><a href="/tarea/{{_id}}">{{ titulo }}</a></td>
                    <td class="uk-visible@m">{{ descripcion }}</td>
                    <td class="uk-visible@m">{{ limite_string }}</td>
                    <td>
                        {{#isAsignada estado}}
                        <p class="uk-text-uppercase uk-text-primary">Asignada</p>
                        {{/isAsignada}}

                        {{#isInProgress estado}}
                        <p class="uk-text-uppercase uk-text-warning">En progreso</p>
                        {{/isInProgress}}

                        {{#isFinished estado}}
                        <p class="uk-text-uppercase uk-text-success">Finalizada</p>
                        {{/isFinished}}
                    </td>
                    <td class="uk-text-center">
                        <a class="uk-link uk-text-primary hidden" href="/tarea/{{_id}}/modificar">
                            <span  uk-icon="pencil"></span>
                            <span class="uk-visible@m">Modificar</span>
                        </a> <br>
                        <a class="uk-link uk-text-danger hidden" href="/eliminar/{{_id}}">
                            <span uk-icon="trash"></span>
                            <span class="uk-visible@m">Eliminar</span>
                        </a>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>

        <!-- Pagination -->
        <ul class="uk-pagination uk-flex-center" uk-margin>
            {{#ifGreaterThan valor 1}}
                <li>
                    <a href="/creadas?pg={{ restar valor 1 }}">{{ restar valor 1 }}</a>
                </li>
            {{/ifGreaterThan}}
            <li class="uk-active">
                <a href="/creadas?pg={{ valor }}">{{ valor }}</a>
            </li>
            {{#ifEqualThan valor pgUltima}}

            {{else}}
                <li>
                    <a href="/creadas?pg={{ sumar valor 1 }}">{{ sumar valor 1 }}</a>
                </li>
            {{/ifEqualThan}}
        </ul>
        {{/ifEqualThan}}
    </div>
</section>
