<!-- Search form -->
<section class="uk-section custom-wrapper">
    <!-- necesitamos un uk-inline para contener el div de abajo -->
    <!--  EL grid funciona tal que define filas-columnas: 1-1 representa el contenido en una gran unica celda  -->
    <div class="uk-inline uk-width-1-1@l">
        <img src="/images/task.jpg" alt="">
        <div class="uk-position-center uk-overlay uk-overlay-default">
            <h2 class="uk-margin">Buscar tarea</h2>
            <div class="uk-margin">
                <form action="/tareas">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: search"></span>
                        <input class="uk-input" type="text" name="criterio"
                               placeholder="Buscar...">
                    </div>
                    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                        <label><input class="uk-radio" type="radio" name="estado"
                                      value="todo" checked> Todo</label>
                        <label><input class="uk-radio" type="radio" name="estado"
                                      value="asignado"> Asignado</label>
                        <label><input class="uk-radio" type="radio" name="estado"
                                      value="enprogreso"> En progreso</label>
                        <label><input class="uk-radio" type="radio" name="estado"
                                      value="finalizado"> Finalizado</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
