<!-- Search form -->
<section class="uk-section">
    <!-- necesitamos un uk-inline para contener el div de abajo -->
    <!--  EL grid funciona tal que define filas-columnas: 1-1 representa el contenido en una gran unica celda  -->
    <div class="uk-inline uk-width-1-1@l">
        <img src="images/task.jpg" alt="">
        <div class="uk-position-center uk-overlay uk-overlay-default">
            <h2 class="uk-margin">Buscar tarea</h2>
            <div class="uk-margin">
                <form class="uk-search uk-search-default uk-width-1-1"
                      action="/anuncios">
                    <span uk-search-icon></span>
                    <input class="uk-search-input"
                           name="criterio"
                           type="search" placeholder="Buscar...">
                </form>
                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                    <label><input class="uk-radio" type="radio" name="estado" checked> Todo</label>
                    <label><input class="uk-radio" type="radio" name="estado"> Asignado</label>
                    <label><input class="uk-radio" type="radio" name="estado"> En progreso</label>
                    <label><input class="uk-radio" type="radio" name="estado"> Finalizado</label>
                </div>
            </div>
        </div>
    </div>
</section>