<section class="uk-section custom-wrapper">
    <div class="uk-position-center">
        <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="80" height="80" src="images/perfil.png">
                    </div>
                    <h3 class="uk-card-title">Nombre: {{operario.nombre}}</h3>
                </div>
            </div>
            <div class="uk-card-body">
                <p>Tipo: {{operario.tipo}}</p>
            </div>
        </div>
    </div>
</section>
