<section class="uk-section uk-section-default custom-wrapper">
    <div class="uk-container">
        {{#ifEqualThan nTareas 0}}
        <h2 class="uk-margin">Sin resultados para "{{busqueda}}"</h2>
        <div class="uk-margin">
            <form action="/tareas">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: search"></span>
                    <input class="uk-input" type="text" name="criterio"
                           placeholder="Buscar...">
                </div>
                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                    <label><input class="uk-radio" type="radio" name="estado"
                                  value="todo" checked> Todo</label>
                    <label><input class="uk-radio" type="radio" name="estado"
                                  value="asignado"> Asignado</label>
                    <label><input class="uk-radio" type="radio" name="estado"
                                  value="enprogreso"> En progreso</label>
                    <label><input class="uk-radio" type="radio" name="estado"
                                  value="finalizado"> Finalizado</label>
                </div>
            </form>
        </div>
        {{else}}
        <thead>
        <tr>
            <th class="uk-width-1-4@m uk-width-1-2">Titulo</th>
            <th class="uk-table-expand uk-visible@m">Descripción</th>
            <th class="uk-width-small">Estado</th>
        </tr>
        </thead>
        <tbody>
        {{#each tareas}}
        <tr>
            <td>{{ titulo }}</td>
            <td>{{ descripcion }}</td>
            <td>
                {{#isAsignada estado}}
                <p class="uk-text-uppercase uk-text-primary">Asignada</p>
                {{/isAsignada}}

                {{#isInProgress estado}}
                <p class="uk-text-uppercase uk-text-warning">En progreso</p>
                {{/isInProgress}}

                {{#isFinished estado}}
                <p class="uk-text-uppercase uk-text-success">Finalizada</p>
                {{/isFinished}}
            </td>
        </tr>
        {{/each}}
        </tbody>
        </table>
        {{/ifEqualThan}}
    </div>
</section>
