.custom-wrapper {
    min-height: 88vh;
}

.tarea-card {
    padding-bottom: 25px;
}

.card-top {
    display: flex;
    flex-direction: row;
    top: 30px;
    right: 30px;
}

.card-top-links {
    display: flex;
    width: fit-content;
}

.card-top-links > a {
    margin: auto 12px;
}

/* On screens that are that size or more, do add the hover effect on each task */
@media screen and (min-width: 960px) {

    .task-row .hidden {
        visibility: hidden;
    }

    .task-row:hover .hidden {
        visibility: visible;
    }
}


